@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.row {
    padding-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

@mixin col-md-settings() {
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@mixin col-lg-settings() {
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5 {
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
    @include col-md-settings();
}

@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
    @include col-lg-settings();
}

header {
    height: 60px;
}

.categories {
    display: flex;
    align-items: center;
    padding-top: 9px;
}

.categories a {
    color: #212a2f;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 40px;
    height: 30px;
}

.categories a:hover, .addition a:hover {
    color: white;
    background-color: #212a2f;
    transition: 0.25s ease-in-out;
}

.logo {
    display: flex;
    justify-content: center;
    float: left;
}

.addition  {
    display: flex;
    padding-top: 9px;
}

.addition a {
    color: #212a2f;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 40px;
    height: 30px;
}

.icons {
    display: flex;
    cursor: pointer;
    margin-top: 5px;
}

.profile, .qmark {
    height: 25px;
    margin-right: 10px;
}

.cart-header {
    width: 40px;
    height: 40px;
    position: relative;
    background: white url(./images/shopping-cart.png) no-repeat center;
    top: -6px;
}

.cart-header:hover .product-counter{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    color: #2c71b8;
    cursor: pointer;
    margin-top: 5px;
}

.product-counter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 3px;
    left: 13px;
    margin-top: 5px;
}

.cap {
    width: 100%;
    height: 740px;
    color: white;
    background-image: url(images/cap.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

.cap-text {
    padding-top: 500px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.5px;
}

.cap-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.cap-title, .cap-description {
    background-color: rgba(0, 0, 0, 0.25);
}

@mixin buttonSettings() {
    display: inline-block;
    margin-top: 30px;
    width: 180px;
    height: 60px;
    font-size: 14px;
    background-color: white;
    color: #212a2f;
    text-align: center;
    transition: 0.15s all ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

.button {
    @include buttonSettings();
}

.button:hover {
    background-color: #212a2f;
    color: white;
    transition: 0.15s all ease-in-out;
}

.our-favorites {
    padding-top: 130px;
}

@mixin titleSettings() {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.5px;
}

.our-favorites-title {
    @include titleSettings();
    display: flex;
    justify-content: center;
}

.favorites-categories {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.favorite-categories {
    width: 1110px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #d3d4d5;
    margin-bottom: 35px;
}

.favorite-categories a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #212a2f;
    font-weight: 400;
}

.favorite-categories li {
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.favorite-categories li:hover {
    border-bottom: 2px solid #212a2f;
}

.our-favorites-products {
    display: flex;
}

.first-product {
    position: relative;
    width: 100%;
}

@mixin buttons-settings() { //.first-product .btn
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #212a2f;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    width: 276px;
    height: 48px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.first-product .btn {
    @include buttons-settings();
}

.sbtn {
    @include buttons-settings();
    top: 61%;
    left: 50%;
}

.first-product .btn:hover, .sbtn:hover {
    background-color: black;
    color: white;
    transition: 0.15s all ease-in-out;
}

.product-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d3d4d5;
}

.product-weather {
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
}

.product-weather-title {
    white-space: nowrap;    
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
}

.asdfasdf {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 60px;
}

.seasons-title, .nature-title, .climate-title {
    @include titleSettings();
    padding-bottom: 60px;
}

.seasons-description{
    @include titleSettings();
    font-size: 16px;
    line-height: 24px;
}

.seasons-buttons {
    display: flex;
    justify-content: center
}

.buttons {
    @include buttonSettings();
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    color: white;
    background-color: #212a2f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
}

.button1 {
    margin-right: 10px;
}

.button2 {
    margin-left: 10px;
}

.buttons:hover {
    background-color: white;
    color: #212a2f;
    transition: 0.15s all ease-in-out;
}

.collections-title {
    @include titleSettings();
    text-align: left;
    padding-bottom: 30px;
    padding-left: 25px;
}

.collections-products {
    display: flex;
    padding-bottom: 140px;
}

.col-first-product, .col-second-product, .col-third-product {
    position: relative;
    width: 100%;
}

.c-title, .c-description {
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
}

.c-title {
    color: #212a2f;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.5px;
}

.c-description {
    color: #212a2f;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.n-image {
    width: 100%;
    padding-bottom: 60px;
}

.nature-title {
    padding-bottom: 25px;
}

.nature-description, .climate-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
}

.nature-buttons {
    display: flex;
    justify-content: center;
}

.nature-button, .climate-button, .sign-up-button {
    @include buttonSettings();
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: white;
    background-color: #212a2f;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 384px;
    height: 48px;
    margin-bottom: 125px;
}

.nature-button:hover, .climate-button:hover, .sign-up-button:hover {
    color: #212a2f;
    background-color: white;
    transition: 0.15s ease-in-out;
}

.new-arrivals-title, .stories-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.5px;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 25px;
}

.c-image {
    width: 100%;
    padding-bottom: 60px;
}

.climate-title {
    padding-bottom: 20px;
}

.climate-buttons {
    display: flex;
    justify-content: center;
}

.stories-title {
    font-weight: 400;
}

.collections-products1 {
    display: flex;
    padding-bottom: 200px;
}

.contact-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-bottom: 60px;
}

.input {
    display: flex;
    justify-content: center;
}

input {
    width: 588px;
    height: 48px;
    padding: 10px;
    padding-left: 30px;
    border: none;
    border-bottom: 2px solid #212a2f;
}

.sign-up-button {
    width: 111px;
    margin: 0px;
    margin-left: 10px;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}

.breadcrumb {
    font-size: 14px;
    color: gray;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
}

.breadcrumb:hover {
    text-decoration-line: underline;
}

.footer {
    width: 100%;
    height: 100px;
    margin-top: 90px;
    background-color: rgb(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 40px;
    font-size: 21px;
    font-weight: light;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #212a2f;
}

.bottom-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    .breadcrumb {
        padding-right: 0px;
        color: white;
        font-size: 12px;
    }
}

.and {
    padding-left: 8px;
}